extends inc/_plantilla
block content
	main
		.qcont
			section.description
				h1.title
					|Quiénes Somos
				.content-columms
					p
						|Creemos en el poder de los sueños por esto somos una empresa que se centra en el talento humano;
						|nuestra familia está compuesta por más de 34 colaboradores, nuestro compromiso es brindarle a nuestros
						|clientes productos de excelente calidad a un precio justo y damos nuestro 100% en ello. Actualmente son más
						|de 100 distribuidores ofreciendo nuestros productos a nivel nacional e internacional.
					p
						|Estamos en todo el proceso de creación de nuestras prendas. Desde el diseño hasta el desarrollo de las siluetas,
						|el Grupo G&C S.A.S, ofrece productos que se destacan en diseño, calidad y tecnología. Ya son más de 8 años en el
						|mercado, este tiempo nos ha dado la experticia para brindar experiencias de felicidad con productos únicos en el mundo
						|a través de nuestras marcas: Talulah, Luna y Miel (marcas femeninas) y Navala (marca masculina). Somos lideres en el mercado
						|colombiano de pijamas.
					p
						b Responsabilidad Social: 
						|Estamos comprometidos con el progreso de todas las personas que hacen posible este sueño, por ello trabajamos con más de 20
						|talleres de confección colombianos con óptimas condiciones laborales compuestos en su mayoría por madres cabeza de familia.
block JsFooter
	
