extends inc/_plantilla
block content
	main
		.qcont
			section.description
				h1.title
					|Misión
				.content-columms
					p
						|Diseñar, producir y comercializar prendas de vestir de la más alta calidad para toda la familia, de acuerdo con los
						|gustos y tendencias del mercado, logrando plena satisfacción de nuestros clientes, a través de capital humano calificado y comprometido.

block JsFooter