extends inc/_plantilla
block content
	main
		.qcont
			section.description
				h1.title
					|Visión
				.content-columms
					p
						|Ser la empresa líder en confección y comercialización de ropa para toda la familia, con una constante innovación en diseños y
						|productos de excelente calidad, disponibilidad y servicio, teniendo cobertura a nivel nacional e internacional.
block JsFooter