header
	.users
		.qcont
			ul.social
				li
					a(href="#")
						.qicon-facebook
				li
					a(href="#")
						.qicon-twitter
				li
					a(href="#")
						.qicon-instagram
			ul.login
				li
					a(href="login.html", class="hidden")
						i.qicon-user
						|Entrar
				li
					a(href="perfil.html")
						i.qicon-user
						|Mi perfil
				li
					a(href="perfil.html")
						i.qicon-times
						|Cerrar sesión
	.qcont
		.logos
			.left
				a(href="index.html").logo
					img(src="assets/img/logos/logo_grupo_gyc.png", alt="")
			.right
				a(href="https://talulah.com.co/" target="_blank").logo
					img(src="assets/img/logos/logo_talulah.png", alt="", class="talulah")
				a(href="https://navala.com.co/" target="_blank").logo
					img(src="assets/img/logos/logo_navala.png", alt="", class="navala")
	nav.navegation_menu
		.qcont
			a(href="#").nav_collapse#nav_mobile
				i.qicon-bars
			ul#nav-mobile
				li
					a(href="index.html") Inicio
				li
					a(href="about.html") Quiénes somos
					ul
						li
							a(href="mision.html") Misión
						li
							a(href="vision.html") Visión
				li
					a(href="locate.html") Dónde estamos
				li
					a(href="job.html") ¿Quieres ser Empresari@?
				li
					a(href="mailto:servicio.cliente@grupogyc.co") Servicio al cliente
