h2 Editar mis datos
form(action="#", class="form-content" id="login-user")
	.form-group
		label(for="username") Nombre completo
		input(type="username", name="username", id="username", class="form-control")
	.form-group
		label(for="email") Correo electrónico
		input(type="email", name="email", id="email", class="form-control")
	.form-group
		label(for="address") Dirreción de residencia
		input(type="text", name="address", id="address", class="form-control")
	.form-group
		label(for="password") Contraseña
		input(type="password", name="password", id="password", class="form-control")
	.form-group
		input(type="submit", value="Guardar Cambios", class="btn-submit")
.br
h2 Cambiar mi contraseña
form(action="#", class="form-content" id="login-user")
	.form-group
		label(for="password") Contraseña
		input(type="password", name="password", id="password", class="form-control")
	.form-group
		label(for="password") Confirmar contraseña
		input(type="password", name="password", id="password", class="form-control")
	.form-group
		input(type="submit", value="Guardar Cambios", class="btn-submit")