h2 Mis pedidos
.doc
	.element.title
		.qcol-6.name
			b Número de pedido
		.qcol-2.date
			b Fecha
		.qcol-2.padding-10
			b Estado
	.element
		.qcol-6.name
			|#10394SQS
		.qcol-2.date
			|12/04/19
		.qcol-2.state.pending
			| Pendiente
	.element
		.qcol-6.name
			|Catálogo del mes de febrero
		.qcol-2.date
			|12/03/19
		.qcol-2.state.send
			| Enviando
	.element
		.qcol-6.name
			|Catálogo del mes de febrero
		.qcol-2.date
			|12/02/19
		.qcol-2.state.success
			| Entregado